<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Newsly</title>
    <link rel="stylesheet" href="../css/indexStyle.css">
</head>
<body>
<div class="container"></div>
<div class="row fixed-top position-sticky" id="navRow"> <!--header-->
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg"><!-- overall navbar-->
        <img class="m-1" src="images/hillside favicon.png"
             width="70"
             height="70" alt="icon">
        <a class="navbar-brand">HILLSIDE</a>

        <a id="navAbout" href="#about" name ="link">About</a> <!-- navlink about-->
    </nav>
</div>
</body>

</html>