<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Newsly</title>
    <link rel="stylesheet" href="../css/indexStyle.css">
</head>
<body>
<div class="container"></div>
<div class="row fixed-top position-sticky" id="navRow"> <!--header-->
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg"><!-- overall navbar-->
        <img class="m-1" src="../images/pink_target_icon_3wide_1tall_logo_to_the_left_255_128_255.png"
             width="315"
             height="102" alt="icon">

        <a id="Home" href="#about" name="link">Home</a> <!-- navlink about-->
        <a id="Blog" href="#about" name="link">Blog</a>
        <a id="Subscribe" href="#about" name="link">Subscribe</a>
        <a id="Video Player" href="#about" name="link">Video Player</a>
        <a id="Career" href="#about" name="link">Career</a>

        <a id="linkedIn" href="" name="link">
            <img class="m-1" src="../images/pink_target_icon_3wide_1tall_logo_to_the_left_255_128_255.png"
                  width="20"
                  height="20" alt="icon">
            <img class="m-1" src="../images/pink_target_icon_3wide_1tall_logo_to_the_left_255_128_255.png"
                 width="20"
                 height="20" alt="icon">
            <img class="m-1" src="../images/pink_target_icon_3wide_1tall_logo_to_the_left_255_128_255.png"
                 width="20"
                 height="20" alt="icon">
            <img class="m-1" src="../images/pink_target_icon_3wide_1tall_logo_to_the_left_255_128_255.png"
                 width="20"
                 height="20" alt="icon">
            <img class="m-1" src="../images/pink_target_icon_3wide_1tall_logo_to_the_left_255_128_255.png"
                 width="20"
                 height="20" alt="icon">
        </a>
    </nav>
</div>

<div class="container" id="main">
    <h4>NEWSLY</h4>
    <p>Get only what is relevant to you, whispered in your ear while you commute, workout, cook, clean or relax</p>
    <p>Newsly is an audio aggregator cross-platform application</p>

    <div class="container" id="loginForm">
        <label for="userName">Username</label><br>
        <input type="text" id="userName" name="userName"><br>
        <label for="password">password</label><br>
        <input type="text" id="password" name="password"><br>
    </div>

    <div class="container" id="videoBox"></div>

    <div class="container" id="webPlayer"></div>

    <div class="container" id="footerContainer">
        <p>©2020 by Newsly Technologies Inc.</p>
    </div>
</div>
</body>

</html>
