body {
    background-color: black;
    text-align: center;
    margin-top: 50px;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

#main {
    background-color: rgb(54, 17, 79);
    text-align: center;
    color: white;
<<<<<<< HEAD
}
=======
}
>>>>>>> e13d396b75cf894c4de2f6ec9cf3137829827111
